.login-form {
  background: #fff;
  width: 500px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
  margin-bottom: 0;
}
.login-form .content {
  padding: 20px 35px;
  text-align: center;
}
.login-form input {
  font-size: 16px;
  display: block;
  font-family: "Rubik", sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.login-form span.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}
.login-form span.link:hover {
  color: #e35869;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.login-form .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.login-form .action button:hover {
  background: #d8d8d8;
}
.login-form .action button:nth-child(2) {
  background: #2d3b55;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
  background: #3c4d6d;
}
.login-form .submit-button {
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 10px 30px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e35869;
  color: #fff;
  letter-spacing: 0.2px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-form .submit-button:hover {
  background: #d84a5b;
  opacity: 0.8;
}

.ant-form-item-explain-error {
  text-align: left;
}
.ant-form-item-control {
  margin-top: 10px;
}

.login-success {
  padding: 10px;
}
.login-success-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 20px;
  margin-right: 20px;
}
.login-success-header h3 {
  margin-bottom: 0;
}
.login-success-header h3:hover {
  cursor: pointer;
  color: #e35869;
}
.login-success h1 {
  padding-top: 0;
}

.login-success p {
  word-break: break-all;
}
